# Redis 缓存（开发/测试环境）
apiVersion: v1
kind: Pod
metadata:
  name: redis
  namespace: saas-shortener
  labels:
    app: redis
spec:
  restartPolicy: Always
  containers:
    - name: redis
      image: redis:7-alpine
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: saas-shortener
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
